/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fae5d3;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

body::-webkit-scrollbar {
    display: none;
}
.scroll-wrapper {
    max-width: 100vw; /* Prevent the scroll wrapper from exceeding the viewport width */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

::selection {
    background-color: darkorange;
    color: white;
}

/* Navigation Bar */
.navbar {
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    display: flex;
}

.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.1); /* Slightly more opaque on scroll */
    box-shadow: 0px 4px 8px rgba(10, 10, 10, 0.8);
    backdrop-filter: blur(10px); /* Blur the background */
    opacity: 1;
}
.nav-links a.scrolled {
    color: #1a1919 !important;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensures navbar items take full width */
}

.navbar .logo {
    flex: 1; /* Let the logo take up available space on the left */
}

/* No Background for Navbar */
.nav-links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 768;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Soft shadow for contrast */
    color: #fbfcfc;
    transition: color 0.3s ease;
}
/* Active nav link styling */
.nav-links a.active {
    color: #E69138 !important; /* Orange */
    border-bottom: 2px solid #E69138;
}
.nav-links a.active.scrolled {
    color: #E69138; /* Orange */
    border-bottom: 2px solid #E69138;
}

a, button {
    transition: all 0.3s ease-in-out;
} 

.nav-links a.scrolled {
    color: #1a1919;
}

.navbar .logo img {
    height: 50px;
}

.navbar .nav-links {
    flex: 2; /* Center the navigation links */
    display: flex;
    justify-content: center; /* Center the nav links */
    list-style: none;
    align-items: center;
}

.navbar .nav-links li {
    margin: 0 15px;
}
.navbar .nav-links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 768;
    color: #fbfcfc;
    transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
    color: #E69138;
    border-bottom: 2px solid #E69138;
}

.navbar .nav-links a.scrolled:hover {
    color: #E69138;
    border-bottom: 2px solid #E69138;
}

/* Hero Section */
.competition-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.competition-hero h1 {
    color: #004ba0;
}

.background-video {
    position: fixed; /* Keep the video fixed */
    top: 0;
    left: 0;
    width: 100vw; /* Make sure it covers the viewport width */
    height: 100vh; /* Make sure it covers the viewport height */
    object-fit: cover; /* Ensures the video covers the entire area */
    z-index: -1; /* Place it behind the content */
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Higher z-index than the background video */
    color: white;
    text-align: center;
}

.overlay-content h1 {
    background-image: linear-gradient(43deg, #FFD768 10%, #db511f 46%, #ff2701 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 58px;
    font-weight: 600; /* Lighter font weight */
    margin-bottom: -10px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s steps(40, end); /* Only typing effect */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Soft shadow for contrast */
}

/* Typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}


.overlay-content p {
    display: flex;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); /* Soft shadow for contrast */
}

.scroll-down {
    position: absolute;
    bottom: 30px; /* Distance from the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    text-align: center;
    color: white; /* Text color */
    font-size: 1.2rem; /* Adjust font size as needed */
}

/* Creating a down arrow using CSS */
.scroll-arrow {
    margin-top: 5px; /* Space between text and arrow */
    position: relative; /* Set position to relative */
    left: 42%; /* Centering the arrow */
    transform: translateX(-50%); /* Centering adjustment */
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent; /* Adjust width for arrow size */
    border-right: 10px solid transparent; /* Adjust width for arrow size */
    border-top: 15px solid white; /* Color of the arrow */
    animation: bounce 1s infinite; /* Optional bounce effect */
}

/* Bounce Animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Adjust the bounce height */
    }
}

/* General Section Styles */
.section-header {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.section-header h2 {
    font-size: 2.5rem;
    margin-top: 20px;
    color: #004ba0;
}

.section-header p {
    font-size: 1.1rem;
    color: #6c757d;
}

/* External Competition Styles */
.external-competition{
    background-color: #ccd1d1;
}
.external-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 10px;
}

.external-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.external-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.external-item:hover img {
    transform: scale(1.1);
}

.external-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.external-item:hover .external-overlay {
    opacity: 1;
}

.external-overlay h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.external-overlay p {
    font-size: 1rem;
}

.achievements {
    text-align: center;
    margin-top: 0; /* Remove top margin */
    margin-bottom: 0; /* Remove bottom margin */
    padding: 20px 0; /* Optional: Adjust padding as necessary */
}

.achievements h3 {
    font-size: 1.8rem;
    color: #004ba0;
}

.achievements p {
    font-size: 1.1rem;
    color: #6c757d;
}

.competition-poster img {
    width: 100%; /* Make the image take up 100% of the container width */
    height: auto; /* Maintain the aspect ratio of the image */
    max-width: 800px; /* Optional: Limit the maximum width to avoid overly large images */
    display: block; /* Ensures no unwanted margins or gaps around the image */
    margin: 0 auto; /* Center the image horizontally */
    border-radius: 5px;
}



/* Internal Competition Styles */
.internal-competition{
    background-color: #d6dbdf;
}
.internal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 40px;
    padding: 0 10px;
}

.internal-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.internal-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.internal-item:hover img {
    transform: scale(1.1);
}

.internal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.internal-item:hover .internal-overlay {
    opacity: 1;
}

.internal-overlay h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.internal-overlay p {
    font-size: 1rem;
}

.awards {
    text-align: center;
    margin: 0; /* Remove both top and bottom margins */
    padding: 0; /* Remove padding */
}

.awards h3 {
    font-size: 1.8rem;
    color: #004ba0;
}

.awards p {
    font-size: 1.1rem;
    color: #6c757d;
    padding-bottom: 20px;
}
/* Footer Section */
footer {
    background-color: #ccd1d1; /* Dark background similar to the example */
    font-family: 'Poppins', Arial, sans-serif;
    color: #000000; /* White text */
    padding: 40px 20px; /* Padding for space */
    text-align: left; /* Align text to the left */
    padding-top: -50px; /* Reduce the top padding of the footer */
    margin-top: -20px; /* Ensure no margin at the top */
}

.footer-content {
    display: flex; /* Flex layout for footer content */
    justify-content: space-between; /* Space out columns */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.footer-column {
    flex: 1; /* Allow columns to grow */
    margin: 10px; /* Add margin between columns */
    text-align: justify;
}

.footer-column h4 {
    color: #0073b6; /* Header color */
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
}

.footer-column ul li {
    margin-bottom: 5px; /* Space between items */
}

.footer-column ul li a {
    color: #000000; /* Link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Transition effect for hover */
}

.footer-column ul li a:hover {
    color: #0073b6; /* Change link color on hover */
}

.social-links {
    display: flex; /* Flex layout for social icons */
    margin-top: 10px; /* Add space above social links */
}

/* More specific social link styles */
.footer-column .social-links a {
    margin-right: 15px; /* Space between icons */
    color: #000000 !important; /* Ensure icon color is black by default */
    font-size: 20px; /* Size of icons */
    text-decoration: none;
    transition: color 0.3s, background 0.3s, border 0.3s; /* Transition for hover effect */
    
    /* Glassmorphism effect */
    background: rgba(255, 255, 255, 0.1); /* Transparent white background */
    border: 2px solid rgba(255, 255, 255, 0.1); /* Semi-transparent white border */
    border-radius: 50%; /* Circular shape */
    padding: 10px; /* Space inside the circle */
    backdrop-filter: blur(10px); /* Blur effect for glassmorphism */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
    display: flex; /* Ensure icons are centered */
    justify-content: center; /* Center the icon */
    align-items: center; /* Center the icon */
    width: 40px; /* Set a fixed width for the circular effect */
    height: 40px; /* Set a fixed height for the circular effect */
}

/* Facebook blue color on hover */
.footer-column .social-links a.facebook:hover i {
    color: #4267B2; /* Facebook blue on hover */
}

/* YouTube red color on hover */
.footer-column .social-links a.youtube:hover i {
    color: #FF0000; /* YouTube red on hover */
}

/* Instagram color on hover */
.footer-column .social-links a.instagram:hover i {
    color: #E1306C; /* Instagram pink on hover */
}

/* LinkedIn blue color on hover */
.footer-column .social-links a.linkedin:hover i {
    color: #0077B5; /* LinkedIn blue on hover */
}

/* Border color and shadow effects */
/* YouTube red border on hover */
.footer-column .social-links a.youtube:hover {
    border-color: #FF0000; /* YouTube red on hover */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Red shadow on hover */
}

/* Facebook blue border on hover */
.footer-column .social-links a.facebook:hover {
    border-color: #4267B2; /* Facebook blue on hover */
    box-shadow: 0 0 10px rgba(66, 103, 178, 0.5); /* Blue shadow on hover */
}

/* Instagram pink border on hover */
.footer-column .social-links a.instagram:hover {
    border-color: #E1306C; /* Instagram pink on hover */
    box-shadow: 0 0 10px rgba(225, 48, 108, 0.5); /* Pink shadow on hover */
}

/* LinkedIn blue border and shadow on hover */
.footer-column .social-links a.linkedin:hover {
    border-color: #0077B5; /* LinkedIn blue on hover */
    box-shadow: 0 0 10px rgba(0, 119, 181, 0.5); /* Blue shadow on hover */
}




.footer-bottom {
    text-align: center; /* Center text in the bottom section */
    margin-top: 20px; /* Space above footer text */
    font-size: 14px; /* Font size for footer text */
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .navbar .nav-links {
        display: none;
        flex-direction: column;
        width: 25%;
        border-radius: 2%;
        background-color: rgba(241, 239, 239, 0.7);
        backdrop-filter:blur(10px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 100%;
        right: 10px;
        padding: 10px 0;
    }

    .navbar .nav-links.active {
        display: flex;
    }

    .navbar .nav-links li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: flex;
    }

    .about-section,
    .mission-section,
    .vision-section {
        padding: 40px 10px;
        width: 100%;
    }

    .product-card {
        flex-direction: column;
        text-align: center;
    }

    .product-card img.product-image {
        width: 200%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .hero-content h1 {
        font-size: 32px;
    }

    .hero-content .btn-get-started {
        font-size: 16px;
        padding: 10px 20px;
    }

    .product-info h3 {
        font-size: 20px;
    }
}
