/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ensure the body is scrollable without showing the scrollbar */
body {
    font-family: 'Poppins', Arial, sans-serif;
    overflow: hidden; /* Prevent default scrollbars */
    position: relative; /* Required for pseudo-element positioning */
    background-color: #ccd1d1;
    overflow: scroll;
    overflow-x: hidden;
}

body:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: -20px; /* Extend beyond viewport to hide the scrollbar */
    bottom: 0;
    overflow-y: scroll; /* Allow scrolling */
    overflow-x: hidden;
    z-index: -1; /* Hide behind content */
}
body::-webkit-scrollbar {
    display: none;
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}
.header.scrolled {
    background-color: rgba(241, 239, 239, 0.1);
    box-shadow: 0px 4px 8px rgba(10, 10, 10, 0.8);
    backdrop-filter: blur(10px);
    color: #1a1919 !important;
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000; /* Ensure navbar is on top */
    transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
    background-color: rgba(241, 239, 239, 0.1); /* Solid background when scrolled */
    box-shadow: 0px 4px 8px rgba(10, 10, 10, 0.8);
    backdrop-filter: blur(10px);
    opacity: 1;
}

.header a.scrolled {
    color: #1a1919;
}
.nav-links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    text-shadow: rgba(0, 0, 0, 0.9);
    color: #fbfcfc;
    transition: color 0.3s ease;
}

.navbar .nav-links a.scrolled {
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    text-shadow: rgba(0, 0, 0, 0.9);
    color: #1a1919;
    transition: color 0.3s ease;
}

/* Active nav link styling */
.nav-links a.active {
    color: #E69138; /* Orange */
    border-bottom: 2px solid #E69138;
}

.nav-links a.active.scrolled {
    color: #E69138; /* Orange */
}

a,
button {
    transition: all 0.3s ease-in-out;
}

.nav-links a.scrolled {
    color: #1a1919;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo img {
    height: 50px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar .nav-links li {
    margin: 0 15px;
}

.navbar .nav-links a:hover {
    color: #E69138;
    border-bottom: 2px solid #E69138;
}

.navbar .nav-links a.scrolled:hover {
    color: #E69138;
    border-bottom: 2px solid #E69138;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.3s;
}

/* Hero Section */
.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 102%;
    height: 102%;
    object-fit: cover;
    z-index: -1;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: #fff;
    text-align: center;
    max-width: 800px;
    animation: fadeIn 2s ease-out;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.login-btn {
    border: 1px solid #0073b6;
    background-color: rgba(0, 115, 182, 0.2);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #f6f7f8;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    margin-right: 20px;
    cursor: pointer;
    backdrop-filter: blur(1px);
}

.login-btn:hover {
    background: #0073b6;
    border: 1px solid #0073b6;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.6) 1px 2px 4px;
    color: #FFFFFF;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    transition-duration: 0.4s;
}

.btn:hover {
    background: #0073b6;
    border: 1px solid #0073b6;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.6) 1px 2px 4px;
    color: #FFFFFF;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    margin-left: 10px;
    transition-duration: 0.4s;
}

.btn-signup {
    background: #E69138;
    border: 1px solid #E69138;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #FFFFFF;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    margin-right: 1px;
    transition-duration: 0.4s;
}

.btn-signup:hover {
    background-color: rgba(230, 145, 56, 0.5);
    box-shadow: rgba(0, 0, 0, 0.6) 1px 2px 4px;
    color: white;
    padding: 10px 13px;
    backdrop-filter: blur(10px);
}

.btn-primary {
    background-color: #ef7c00;
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #d96b00;
}


.scroll-down {
    position: absolute;
    bottom: 30px; /* Distance from the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    text-align: center;
    color: white; /* Text color */
    font-size: 1.2rem; /* Adjust font size as needed */
}

/* Creating a down arrow using CSS */
.scroll-arrow {
    margin-top: 5px; /* Space between text and arrow */
    position: relative; /* Set position to relative */
    left: 42%; /* Centering the arrow */
    transform: translateX(-50%); /* Centering adjustment */
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent; /* Adjust width for arrow size */
    border-right: 10px solid transparent; /* Adjust width for arrow size */
    border-top: 15px solid white; /* Color of the arrow */
    animation: bounce 1s infinite; /* Optional bounce effect */
}

/* Bounce Animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Adjust the bounce height */
    }
}



/* Course Modes */
.course-modes {
    padding: 50px 20px;
    background-color: #e3e5e4;
}

.course-modes h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
}

.modes {
    display: flex;
    justify-content: space-around;
}

.mode {
    width: 300px;
    background-color: #e9f2f9;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.mode:hover {
    transform: scale(1.05);
}

.enroll {
    background-color: #03e9f4;
    text-decoration: none;
    color: #050801;
    border-radius: 10px;
    padding: 5px 10px;
}

.enroll:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

/* Courses List */
.courses-list {
    padding: 5px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.courses-list h2 {
    text-align: center;
    margin-bottom: 20px;
}
.course-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

/* Card Styling */
.course-card {
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 250px; /* Adjust the height */
    width: 300px;
    animation: flipIn 0.6s ease both; /* Apply flip animation */
    transform-style: preserve-3d; /* Preserve 3D for rotation */
}

@keyframes flipIn {
    0% {
        opacity: 0;
        transform: rotateY(-90deg); /* Start with a flip from left */
    }
    100% {
        opacity: 1;
        transform: rotateY(0); /* End with the card facing front */
    }
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: rotateY(180deg); /* Flip on hover */
}

.card-background {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    transition: background-size 0.3s ease;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 50%, transparent 50%);
}

.course-card:hover .card-background {
    background-size: 110%; /* Zoom in on hover */
}

/* Course content */
.course-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align content to the bottom */
    align-items: center;
    text-align: center;
    color: white;
    opacity: 1; /* Show title initially */
    transition: all 0.3s ease;
    padding: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); /* Dark overlay for description */
    height: 28%; /* Cover 50% of the card */
}

.course-content h3 {
    position: absolute;
    bottom: -7px;
    left: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}
.course-details {
    position: absolute;
    opacity: 0;
    margin-bottom: 200px;
    margin-left: -10px;
    font-size: 12px;
    font-family: "Lato";
    font-weight: 900;
    text-shadow: 4px 8px 12px rgba(0, 0, 0, 0.9);
    color: #E69138;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.price {
    padding: 0px 150px;
    margin-right: -140px;
    margin-bottom: -100px;
    color: #0073b6;
    font-family: "Lato";
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
.discount {
    color: rgb(251, 255, 2);
    opacity: 0.9;
    font-family: "Lato";
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
}

.course-date {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
    font-family: "Lato";
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.course-date,
.register-btn {
    font-size: 10px;
    margin-top: -65px;
    padding: 0px 0px 0px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.course-card:hover .course-details,
.course-card:hover .course-date,
.course-card:hover .register-btn {
    opacity: 1;
    transform: translateY(0);
}

.course-card:hover .course-content {
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
}

.course-card:hover .course-content h3 {
    display: none;
    margin-bottom: 10px; /* Adjust spacing when showing full content */
}

.register-btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    text-align: center;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 1000;
    font-family: "Lato";
    text-decoration: none;
    letter-spacing: 2px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.register-btn:hover {
    background-color: #0056b3;
}



/* Testimonials Section */
.testimonials-section {
    padding: 60px 0;
    background-color: #fff;
}

.testimonials-section .section-title {
    margin-bottom: 40px;
}

.testimonial-card {
    background-color: #f1f1f1;
    border-left: 5px solid #0073b6;
    padding: 20px;
    border-radius: 5px;
    font-style: italic;
}

.testimonial-card h4 {
    margin-top: 15px;
    font-weight: 600;
    color: #0073b6;
}

/* Call to Action Section */
.cta-section {
    padding: 60px 0;
    background-color: #0073b6;
    color: #fff;
    text-align: center;
}

.cta-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cta-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* Footer Section */
footer {
    background-color: #ccd1d1; /* Dark background similar to the example */
    font-family: 'Poppins', Arial, sans-serif;
    color: #000000; /* White text */
    padding: 40px 20px; /* Padding for space */
    text-align: left; /* Align text to the left */
    padding-top: -50px; /* Reduce the top padding of the footer */
    margin-top: -20px; /* Ensure no margin at the top */
}

.footer-content {
    display: flex; /* Flex layout for footer content */
    justify-content: space-between; /* Space out columns */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.footer-column {
    flex: 1; /* Allow columns to grow */
    margin: 10px; /* Add margin between columns */
    text-align: justify;
}

.footer-column h4 {
    color: #0073b6; /* Header color */
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
}

.footer-column ul li {
    margin-bottom: 5px; /* Space between items */
}

.footer-column ul li a {
    color: #000000; /* Link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Transition effect for hover */
}

.footer-column ul li a:hover {
    color: #0073b6; /* Change link color on hover */
}

.social-links {
    display: flex; /* Flex layout for social icons */
    margin-top: 10px; /* Add space above social links */
}

/* More specific social link styles */
.footer-column .social-links a {
    margin-right: 15px; /* Space between icons */
    color: #000000 !important; /* Ensure icon color is black by default */
    font-size: 20px; /* Size of icons */
    text-decoration: none;
    transition: color 0.3s, background 0.3s, border 0.3s; /* Transition for hover effect */
    
    /* Glassmorphism effect */
    background: rgba(255, 255, 255, 0.1); /* Transparent white background */
    border: 2px solid rgba(255, 255, 255, 0.1); /* Semi-transparent white border */
    border-radius: 50%; /* Circular shape */
    padding: 10px; /* Space inside the circle */
    backdrop-filter: blur(10px); /* Blur effect for glassmorphism */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Shadow effect */
    display: flex; /* Ensure icons are centered */
    justify-content: center; /* Center the icon */
    align-items: center; /* Center the icon */
    width: 40px; /* Set a fixed width for the circular effect */
    height: 40px; /* Set a fixed height for the circular effect */
    opacity: 1;
}

/* Facebook blue color on hover */
.footer-column .social-links a.facebook:hover i {
    color: #4267B2; /* Facebook blue on hover */
}

/* YouTube red color on hover */
.footer-column .social-links a.youtube:hover i {
    color: #FF0000; /* YouTube red on hover */
}

/* Instagram color on hover */
.footer-column .social-links a.instagram:hover i {
    color: #E1306C; /* Instagram pink on hover */
}

/* LinkedIn blue color on hover */
.footer-column .social-links a.linkedin:hover i {
    color: #0077B5; /* LinkedIn blue on hover */
}

/* Border color and shadow effects */
/* YouTube red border on hover */
.footer-column .social-links a.youtube:hover {
    border-color: #FF0000; /* YouTube red on hover */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); /* Red shadow on hover */
}

/* Facebook blue border on hover */
.footer-column .social-links a.facebook:hover {
    border-color: #4267B2; /* Facebook blue on hover */
    box-shadow: 0 0 10px rgba(66, 103, 178, 0.5); /* Blue shadow on hover */
}

/* Instagram pink border on hover */
.footer-column .social-links a.instagram:hover {
    border-color: #E1306C; /* Instagram pink on hover */
    box-shadow: 0 0 10px rgba(225, 48, 108, 0.5); /* Pink shadow on hover */
}

/* LinkedIn blue border and shadow on hover */
.footer-column .social-links a.linkedin:hover {
    border-color: #0077B5; /* LinkedIn blue on hover */
    box-shadow: 0 0 10px rgba(0, 119, 181, 0.5); /* Blue shadow on hover */
}




.footer-bottom {
    text-align: center; /* Center text in the bottom section */
    margin-top: 20px; /* Space above footer text */
    font-size: 14px; /* Font size for footer text */
}

#online-courses, #offline-courses {
    display: none; /* Hide both sections by default */
}
@media (max-width: 768px) {
    .course-cards {
        grid-template-columns: 1fr; /* Display one column for smaller screens */
    }
}
